.siteFooter{
    margin: 0 auto;
    height: $footerHeight;
    background: $lightGray;
    box-shadow: $boxShadow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
